{% extends "base.html" %}

{% block main %}

<h1>account</h1>
<form action="" method="post">
	<label>username
		<input type="text" name="username" value="{{ user.username }}">
	</label>
	<br>
	<label>new password
		<input type="password" name="password">
	</label>
	<br>
	<label>api key id
		<input type="text" name="apikey_id" value="{{ user.apikey_id }}">
	</label>
	<br>
	<label>api key vcode
		<input type="text" name="apikey_vcode" value="{{ user.apikey_vcode }}">
	</label>
	<br>
	<input type="submit" value="update">
</form>

{% endblock %}
