{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block main %}
	hi!

	{% if session['user_id'] %}
		you are logged in as {{ user.username }}
		<p>
			character:
			{{ user.character.name }}, {{ entities['corporation'].name }}
			{% if entities['alliance'] %}, {{ entities['alliance'].name }}{% endif %}
			{% if entities['faction'] %}, {{ entities['faction'].name }}{% endif %}
		</p>
		<p>
			groups:
			{% for group in groups %}
				{{ group.name }}{% if not loop.last %},{% endif %}
			{% endfor %}
		</p>
	{% endif %}
{% endblock %}
