{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% macro portrait(type, id, name) %}
	<div class="portrait">
		<img src="https://image.eveonline.com/{{ type }}/{{ id }}_128.{% if type == 'Character' %}jpg{% else %}png{% endif %}">
		<div>{{ name }}</div>
	</div>
{%- endmacro %}

{% block main %}
	{% if session['user_id'] %}
		you are logged in as {{ user.username }}
		<p>
			{{ portrait('Character', user.character.id, user.character.name) }}
			{{ portrait('Corporation', entities['corporation'].id, entities['corporation'].name) }}
			{% if entities['alliance'] %}
				{{ portrait('Alliance', entities['alliance'].id, entities['alliance'].name) }}
			{% endif %}
			{% if entities['faction'] %}
				{{ portrait('Alliance', entities['faction'].id, entities['faction'].name) }}
			{% endif %}
		</p>
		<p>
			groups:
			<b>
				{% for group in groups %}
					{{ group.name }}{% if not loop.last %},{% endif %}
				{% endfor %}
			</b>
		</p>
	{% endif %}

	<h3>Setup Instructions</h3>
	<p>
		mumble: mumble.amarrvictor.net
		<br><a href="http://wiki.mumble.info/" target="_blank">download</a>,
		server &gt; connect &gt; add new... &gt; leave the port default (64738)
	</p>

	<p>
		irc: irc.amarrvictor.net
		<br><a href="https://hexchat.github.io/downloads.html" target="_blank">download</a>,
		hexchat &gt; network list &gt; add &gt; edit &gt; <a href="https://i.imgur.com/kwC0qIK.png">do this</a>
		(your user name doesn't matter, but your nick does)
	</p>
{% endblock %}
